.button{
    min-width: 200px;
min-height: 60px;
font-family: 'Nunito', sans-serif;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 1.3px;
font-weight: 700;
color: #313133;
background: #7cb6b8;
background: linear-gradient(90deg, rgb(174, 255, 246) 0%, rgb(111, 138, 135) 100%);
border: none;
border-radius: 1000px;
box-shadow: 12px 12px 24px rgba(79,209,197,.64);
transition: all 0.3s ease-in-out 0s;
cursor: pointer;
outline: none;
position: relative;
padding: 5px;
}